<div class="container">
    <h2 class="text-center mb-4">Lista de Enfermedades CIE-10</h2>
    <div>
        <button class="btn btn-rounded btn-success mx-2" type="button"[routerLink]="['/enfermedades/form.enfermedades']">Registrar Enfermedades</button>        
        <div class="row justify-content-center mb-3">

            <div class="col-md-3 d-flex align-items-center justify-content-center"> <!-- col-md-6 para ocupar 6 columnas en pantallas medianas y grandes -->
                <input type="text" id="codigo" class="form-control text-center" 
                style="width: 500px;" value="" [(ngModel)]="codigoBuscar" placeholder="Buscar por codigo">
            </div>

            <div class="col-md-3 d-flex align-items-center justify-content-start"> <!-- col-md-3 para ocupar 3 columnas en pantallas medianas y grandes -->
                <div class="btn-group" role="group" aria-label="Botones de acción">
                    
                    <button class="btn btn-primary"(click)="buscar()">Buscar</button>
                    <button class="btn btn-secondary"(click)="ver()">Ver todo</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
        <table class="table table-bordered table-striped" *ngIf="codigoEncontrado; else listaEnfermedades">
            <thead>
              <tr>
                <th>id</th>
                <th>Código Enfermedad</th>
                <th>Nombre enfermedad</th>
                <th>Tipo</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{codigoEncontrado.idEnf}}</td>
                    <td>{{codigoEncontrado.codigoEnf}}</td>
                    <td>{{codigoEncontrado.nombreEnf}}</td>
                    <td>{{codigoEncontrado.tipoEnf}}</td>
                <td>
                  <button type="button" name="button" class="btn btn-primary mx-4" (click)="verDetalles(codigoEncontrado)">Ver</button>
                  <button type="button" name="button" class="btn btn-warning mx-4" [routerLink]="['/enfermedades/form.enfermedades', codigoEncontrado.idEnf]">Editar</button>
                  <button type="button" name="button" class="btn btn-danger mx-2" (click)="deleteEnfermedades(codigoEncontrado.idEnf)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>

     <ng-template #listaEnfermedades>
        <table class="table table-bordered table-striped">
            <thead class="thead-blue">
                <tr>
                    <th>id</th>
                    <th>Código Enfermedad</th>
                    <th>Nombre enf</th>
                    <th>Tipo enf</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let enfermedad of enfermedades">

                    <td>{{enfermedad.idEnf}}</td>
                    <td>{{enfermedad.codigoEnf}}</td>
                    <td>{{enfermedad.nombreEnf}}</td>
                    <td>{{enfermedad.tipoEnf}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button type="button" name="button" class="btn btn-primary mx-4"(click)="verDetalles(enfermedad)">Ver</button>
                <button type="button" name="button" class="btn btn-warning mx-4"[routerLink]="['/enfermedades/form.enfermedades',enfermedad.idEnf]">Editar</button>
                <button type="button" name="button" class="btn btn-danger mx-2" (click)="deleteEnfermedades(enfermedad.idEnf)">Eliminar</button>
                        </div>
                    </td>
                </tr>        
            </tbody>
        </table>
     </ng-template>
     </div>
        <div class="text-right">
            <p> </p>
            <p>Total registros:  <span>{{ enfermedades.length }}</span></p>
        </div>
    </div>
</div>
