.text-center {
    color: #04346C; /* Cambia el color a rojo (#FF0000) */
}

.thead-blue {
    background-color: #CEDCE7; /* Color azul primario de Bootstrap, puedes ajustarlo según tu preferencia */
    color: white; /* Color de texto blanco para mejor contraste */
}
input{
    width: 225px;
    height: 40px;
    padding: 15px;
    margin: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    background: rgba(217, 217, 217, 1);
  }
  