<body>
    <div class="container">
        <h1>Registro de acuerdo a la Clasificación Internacional de Enfermedades</h1>
        <div class="form-container">
            <div class="form-group half-width">
                <label for="codigoEnf">Código enfermedad</label>
                <input type="text" id="codigoEnf" placeholder=""> 
            </div>
            <div class="form-group half-width">
                <label for="nombreEnf">Nombre enfermedad</label>
                <input type="text" id="nombreEnf" placeholder=""> 
            </div>
            <div class="form-group half-width">
                <label for="tipoEnf">Tipo de enfermedad</label>
                <select id="tipoEnf">
                    <option value="psicologica">Psicológica</option>
                    <option value="fisica">Física</option>
                </select>
            </div>
            <div class="form-group half-width">
                <label for="sintomaEnf">Síntomas</label>
                <textarea id="sintomaEnf" placeholder=""></textarea> 
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" placeholder=""></textarea>
            </div>
        </div>
        <div class="form-footer">
            <button type="button" name="button" class="btn btn-success">Guardar</button>
            <button type="button" name="button" class="btn btn-danger">Regresar</button>
        </div>
    </div>
    
</body>