
    <div class="container">
            <h1>Registro de acuerdo a la Clasificación Internacional de Enfermedades</h1>
     </div>
            <form>
                <div class="input-container mx-4">
                    <div class="column">
                        <label for="codigo">Codigo enfermedad</label>
                        <input type="text" id="codigo" placeholder="Ingrese el codigo de enfermedad">
                        <label for="tipo">Tipo enfermedad</label>
                        <select name="tipo" id="tipo">
                            <option value="seleccione">Seleccione</option>
                            <option value="Piscologica">Psicologica</option>
                            <option value="Fisisica">Fisica</option>
                        </select>
                    </div>
                    <div class="column">
                        <label for="nombre">Nombre enfermedad</label>
                        <input type="text" id="nombre"placeholder=" Ingrese el nombre de enfermedad">
                   
                    </div>
                    <div class="form-group">
                        <label for="Sintomas">Sintomas</label>
                          <textarea id="Sintomas" name="Sintomas"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="descripcion">Descripciòn</label>                    
                          <textarea id="descripcion" name="descripcion"></textarea>
                      </div>
                </div>
                <div class="form-footer">
                    <button type="button" name="button" class="btn btn-success ">Guardar</button>
                    <button type="button" name="button" class="btn btn-danger " (click)="cancelar()">Regresar</button>
                </div>
            </form>
    
