<div class="container">
    <h1>Lista de Pacientes</h1>
    <div>
      <button class="btn btn-rounded btn-success"type="button"[routerLink]="['/ficha-medica/form']">Registrar Paciente</button>
      <div class="input-container">
        <input type="text" id="cedula"placeholder="Cedula">
        <input type="text" id="apellido"placeholder="Apellido">
        <input type="text" id="carrera"placeholder="Carrera">
       <button class="btn btn-rounded btn-primary mx-4"type="button">Buscar</button>
       <div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>CI</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Profesión</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>012365478</td>
              <td>Bryan</td>
              <td>Farez</td>
              <td>Estudiante</td>
              <td>
                <button type="button" name="button" class="btn btn-primary mx-4">Ver</button>
                <button type="button" name="button" class="btn btn-warning mx-2">Editar</button>
                <button type="button" name="button" class="btn btn-danger mx-2">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
       </div>
      </div>
    </div>
  </div>