<div class="container">
    <h1>Registrar Paciente</h1>
</div>
<form >
<div class="input-container">
    <input type="text" id="cedula"placeholder="Cedula">
    <input type="text" id="nombre"placeholder="Nombre">
    <input type="text" id="apellid o"placeholder="Apellido">
    <input type="date" name="fechanacimiento" id="fechanacimiento" placeholder="Seleccioone">
    <input type="text" id="lugar"placeholder="Lugar">
    <div>
        <button type="button" name="button" class="btn btn-success mx-2">Guardar</button>
        <button type="button" name="button" class="btn btn-danger mx-2" (click)="cancelar()">Cancelar</button>
    </div>
</div>
</form>