<div class="container">
    <h1>Registrar Paciente</h1>
</div>


<form ngNativeValidate (ngSubmit)="create()">
    <div class="input-container mx-4">
        <div class="column">
            <label for="profesion">Rol</label>
            <select name="profesion" id="profesion" placeholder="Seleccione" [(ngModel)]="fichaMedica.paciente.profesionPac" name="profesion" required>
                <option value="Docente">Docente</option>
                <option value="Estudiante">Estudiante</option>
            </select>
            <label for="cedula">Cedula</label>
            <input type="text" id="cedula" placeholder="Cedula" class="form-control" [(ngModel)]="fichaMedica.paciente.cedulaPac" name="cedula" [disabled]="editMode" required>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Nombre"[(ngModel)]="fichaMedica.paciente.nombrePac" name="nombre" required>
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" placeholder="Apellido"[(ngModel)]="fichaMedica.paciente.apellidoPac" name="apellido" required>
            <label for="fechanacimiento">Fecha Nacimiento</label>
            <input type="date" name="fechanacimiento" id="fechanacimiento" placeholder="Seleccione" [(ngModel)]="fichaMedica.paciente.fechaNacimientoPac" name="fechanacimiento"required>
            <label for="lugar">Lugar</label>
            <input type="text" id="lugar" placeholder="Lugar" [(ngModel)]="fichaMedica.paciente.lugarPac" name="Lugar" required>
        </div>
        <div class="column">
            <label for="pais">Pais</label>
            <select name="pais" id="pais" [(ngModel)]="fichaMedica.paciente.paisPac" name="pais" required>
                <option value="seleccione">Seleccione</option>
                <option value="ecuador">Ecuador</option>
                <option value="colombia">Colombia</option>
                <option value="peru">Perú</option>
                <option value="venezuela">Venezuela</option>
                <option value="argentina">Argentina</option>
                <option value="brasil">Brasil</option>
                <option value="chile">Chile</option>
                <option value="uruguay">Uruguay</option>
                <option value="paraguay">Paraguay</option>
                <option value="mexico">México</option>
            </select>
            <label for="direccion">Direción</label>
            <input type="text" id="direccion" placeholder="Direccion" [(ngModel)]="fichaMedica.paciente.direccionPac" name="direccion" required>
            <label for="barrio">Barrio</label>
            <input type="text" id="barrio" placeholder="Barrio" [(ngModel)]="fichaMedica.paciente.barrioPac" name="barrio" required>
            <label for="parroquia">Parroquia</label>
            <input type="text" id="parroquia" placeholder="Parroquia" [(ngModel)]="fichaMedica.paciente.parroquiaPac" name="parroquia" required>
            <label for="canton">Cantón</label>
            <input type="text" id="canton" placeholder="Cantón" [(ngModel)]="fichaMedica.paciente.cantonPac" name="canton" required>
            <label for="provincia">Provincia</label>
            <select name="provincia" id="provincia" [(ngModel)]="fichaMedica.paciente.provinciaPac" name="provincia" required>
                <option value="seleccione">Seleccione</option>
                <option value="azuay">Azuay</option>
                <option value="bolivar">Bolívar</option>
                <option value="canar">Cañar</option>
                <option value="carchi">Carchi</option>
                <option value="chimborazo">Chimborazo</option>
                <option value="cotopaxi">Cotopaxi</option>
                <option value="el-oro">El Oro</option>
                <option value="esmeraldas">Esmeraldas</option>
                <option value="galapagos">Galápagos</option>
                <option value="guayas">Guayas</option>
                <option value="imbabura">Imbabura</option>
                <option value="loja">Loja</option>
                <option value="los-rios">Los Ríos</option>
                <option value="manabi">Manabí</option>
                <option value="morona-santiago">Morona Santiago</option>
                <option value="napo">Napo</option>
                <option value="orellana">Orellana</option>
                <option value="pastaza">Pastaza</option>
                <option value="pichincha">Pichincha</option>
                <option value="santa-elena">Santa Elena</option>
                <option value="santo-domingo-de-los-tsachilas">Santo Domingo de los Tsáchilas</option>
                <option value="sucumbios">Sucumbíos</option>
                <option value="tungurahua">Tungurahua</option>
                <option value="zamora-chinchipe">Zamora Chinchipe</option>
            </select>
        </div>
        <div class="column"> 
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" placeholder="Telefono" [(ngModel)]="fichaMedica.paciente.telefonoPac" name="telefono" required>
            <label for="genero">Genero</label>
            <select name="genero" id="genero" [(ngModel)]="fichaMedica.paciente.generoPac" required>
                <option value="seleccione">Seleccione</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
            </select>
            <label for="estcivil">Estado Civil</label>
            <select name="estcivil" id="estcivil" [(ngModel)]="fichaMedica.paciente.estadoCivilPac" name="estcivil" required>
                <option value="seleccione">Seleccione</option>
                <option value="soltero">Soltero</option>
                <option value="casado">Casado</option>
                <option value="viudo">Viudo</option>
                <option value="divorciado">Divorciado</option>
                <option value="unionlibre">Union Libre</option>
            </select>
            <label for="tiposangre">Tipo Sangre</label>
            <select name="tiposangre" id="tiposangre" [(ngModel)]="fichaMedica.paciente.tipoSangrePac" name="tiposangre" required>
                <option value="seleccione">Seleccione</option>
                <option value="o+">O+</option>
                <option value="o-">O-</option>
                <option value="a+">A+</option>
                <option value="a-">A-</option>
                <option value="b+">B+</option>
                <option value="b-">B-</option>
                <option value="ab+">AB+</option>
                <option value="ab-">AB-</option>
            </select>
            <label for="carrera">Carrera</label>
            <select name="carrera" id="carrera" [(ngModel)]="fichaMedica.paciente.carreraPac" name="carrera" [disabled]="fichaMedica.paciente.profesionPac === 'Docente'" required >
                <option value="seleccione">Seleccione</option>
                <option value="software">Desarrollo de software</option>
                <option value="bigdata">Big Data</option>
                <option value="ciberseguridad">Ciberseguridad</option>
            </select>
            <label for="ciclo">Ciclo</label>
            <select name="ciclo" id="ciclo" [(ngModel)]="fichaMedica.paciente.cicloPac" name="ciclo" [disabled]="fichaMedica.paciente.profesionPac === 'Docente'" required>
                <option value="seleccione">Seleccione</option>
                <option value="primero">Primero</option>
                <option value="segundo">Segundo</option>
                <option value="tercero">Tercero</option>
                <option value="cuarto">Cuarto</option>
                <option value="quinto">Quinto</option>
            </select>
        </div>
        
        <div class="antecedentes-container mx-4">
            <div>
                <h3>Discapacidad</h3>
                <label><input type="checkbox" name="discapacidadG"  [(ngModel)]="fichaMedica.discapacidad.discapacidadG"> Marque</label>
                <input type="text" name="subtipoDis" placeholder="Tipo" [(ngModel)]="fichaMedica.discapacidad.subtipoDis">
                <input type="number" name="porcentajeDis"  id="fisica" placeholder="%" [(ngModel)]="fichaMedica.discapacidad.porcentajeDis">
                <label><input type="checkbox" name="carnetCon" [(ngModel)]="fichaMedica.discapacidad.carnetCon"> Carnet CONADIS</label>
                <input type="number" name="numeroConadis"  id="numeroC" placeholder="numero" [(ngModel)]="fichaMedica.discapacidad.numeroConadis">

            </div>

            <div>
                <h3>Antecedentes:</h3>
                <div class="checkbox-group" name="antecedentes"required>
                    <label><input type="checkbox" name="antecedentes" value="alergias" [(ngModel)]="fichaMedica.antecedenteFamiliar.alergiaAnt"> Alergias</label>
                    <textarea name="" id="" style="resize: none;" *ngIf="fichaMedica.antecedenteFamiliar.alergiaAnt" required [(ngModel)]="fichaMedica.antecedenteFamiliar.descripcionAlergiaAnt" name="descripcionAlergiaAnt"></textarea>
                    <label><input type="checkbox" name="antecedentes" value="clinico" [(ngModel)]="fichaMedica.antecedenteFamiliar.clinicoAnt"> Clínico</label>
                    <textarea name="" id="" style="resize: none;" *ngIf="fichaMedica.antecedenteFamiliar.clinicoAnt" required [(ngModel)]="fichaMedica.antecedenteFamiliar.descripcionClinicoAnt" name="descripcionClinicoAnt"></textarea>
                    <label><input type="checkbox" name="antecedentes" value="ginecologico" [(ngModel)]="fichaMedica.antecedenteFamiliar.ginecologoAnt"> Ginecologico</label>
                    <textarea name="" id="" style="resize: none;" *ngIf="fichaMedica.antecedenteFamiliar.ginecologoAnt" required [(ngModel)]="fichaMedica.antecedenteFamiliar.descripcionGinecologoAnt" name="descripcionGinecologoAnt"  ></textarea>
                    <label><input type="checkbox" name="antecedentes" value="traumatologico" [(ngModel)]="fichaMedica.antecedenteFamiliar.traumatologicoAnt"> Traumatologico</label>
                    <textarea name="" id="" style="resize: none;" *ngIf="fichaMedica.antecedenteFamiliar.traumatologicoAnt" required [(ngModel)]="fichaMedica.antecedenteFamiliar.descripcionTraumatologicoAnt" name="descripcionTraumatologicoAnt"></textarea>
                    <label><input type="checkbox" name="antecedentes" value="quirurgico" [(ngModel)]="fichaMedica.antecedenteFamiliar.quirurgicoAnt"> Quirúrgico</label>
                    <textarea name="" id="" style="resize: none;" *ngIf="fichaMedica.antecedenteFamiliar.quirurgicoAnt" required [(ngModel)]="fichaMedica.antecedenteFamiliar.descripcionQuirurgicoAnt" name="descripcionQuirurgicoAnt"></textarea>
                    <label><input type="checkbox" name="antecedentes" value="farmacologico" [(ngModel)]="fichaMedica.antecedenteFamiliar.farmacologicoAnt"> Farmacológico</label>
                    <textarea name="" id="" style="resize: none;" *ngIf="fichaMedica.antecedenteFamiliar.farmacologicoAnt" required [(ngModel)]="fichaMedica.antecedenteFamiliar.descripcionFarmacologicoAnt" name="descripcionFarmacologicoAnt"></textarea>
                </div>
            </div>
        </div>
    </div>

    <br>

    <fieldset *ngIf="fichaMedica.paciente.generoPac === 'femenino'" class="container-emergencia-obstetrica form-grid mx-4">

        <div class="input-container-inline">
            <label for="pa" >Menarca:</label>
            <input type="number" id="menarca_eme" placeholder="Menarca" name= "menarca_eme" [(ngModel)]="emergenciaObstetrica.menarca_eme">
        </div>
        <div class="input-container-inline">
            <label for="ritmo_mestrual_eme">Ritmo mestrual:</label>
            <input type="text" id="ritmo_mestrual_eme" placeholder="Ritmo mestrual" name="ritmo_mestrual_eme" [(ngModel)]="emergenciaObstetrica.ritmo_menstrual_eme">
        </div>
        <div class="input-container-inline">
            <label for="talla">Ciclos</label>
            <input type="number" id="ciclos_eme" placeholder="ciclos" name="ciclos_eme" [(ngModel)]="emergenciaObstetrica.ciclos_eme">
        </div>
        <div class="input-container-inline">
            <label for="imc">FUM:</label>
            <input type="date" id="fum_eme" placeholder="FUM" name="fum_eme" [(ngModel)]="emergenciaObstetrica.fum_eme">
        </div>
        <div class="input-container-inline">
            <label for="ivsa_eme">IVSA:     </label>
            <input type="number" id="ivsa_eme" placeholder="IVSA" name="ivsa_eme" [(ngModel)]="emergenciaObstetrica.ivsa_eme">
        </div>
        <div class="input-container-inline">
            <label for="numero_parejas_sexuales">N° de parejas sexuales:</label>
            <input type="text" id="numero_parejas_sexuales" placeholder="parejas" name="numero_parejas_sexuales_eme" [(ngModel)]="emergenciaObstetrica.numero_parejas_sexuales_eme">
        </div>
        <div class="input-container-multiple-inline">
            <label for="g_eme">G:</label>
            <input type="number" id="g_eme" placeholder="---" name="g_eme" name="g_eme" [(ngModel)]="emergenciaObstetrica.g_eme">
            
            <label for="a_eme">A:</label>
            <input type="text" id="a_eme" placeholder="---" name="a_eme" [(ngModel)]="emergenciaObstetrica.a_eme">
            
            <label for="p_eme">P:</label>
            <input type="text" id="p_eme" placeholder="---" name="p_eme" [(ngModel)]="emergenciaObstetrica.p_eme">
            
            <label for="c_eme">C:</label>
            <input type="text" id="c_eme" placeholder="---" name="c_eme" [(ngModel)]="emergenciaObstetrica.c_eme">
        </div>
        <div class="input-container-inline">
            <div class="input-container-inline">
                <label for="">Dismenorrea</label>
                <input type="checkbox" id="ritmo_mestrual_eme" placeholder="Ritmo mestrual" name="dismenorrea_eme" [(ngModel)]="emergenciaObstetrica.dismenorrea_eme">
                
            </div>  
            <div class="input-container-inline">
                <label for="">Mastodinia </label>
                <input type="checkbox" id="ritmo_mestrual_eme" placeholder="Ritmo mestrual" name="mastodinia_eme" [(ngModel)]="emergenciaObstetrica.mastodinia_eme">
            </div> 
        </div>
        <div class="input-container-inline">
            <label for="fpp_eme">¿Esta embarazada?</label>
            <input type="checkbox" id="isEmbarazada" name = "isEmbarazada" [(ngModel)]="emergenciaObstetrica.isEmbarazada">
        </div>
        <div class="input-container-inline">
            <label for="fpp_eme">FPP:</label>
            <input type="date" id="fpp_eme" placeholder="FPP" *ngIf="emergenciaObstetrica.isEmbarazada" name="fpp_eme" [(ngModel)]="emergenciaObstetrica.fpp_eme">
        </div>
        <div class="input-container-inline">
            <label for="total">Controles</label>
            <input type="text" id="controles_eme" placeholder="Controles" *ngIf="emergenciaObstetrica.isEmbarazada" name="controles_eme" [(ngModel)]="emergenciaObstetrica.controles_eme">
        </div>
        <div class="input-container-inline">
            <label for="capilar">Inmunizaciones</label>
            <input type="text" id="Inmunizaciones_eme" placeholder="Inmunizaciones" *ngIf="emergenciaObstetrica.isEmbarazada" name="inmunizaciones_eme" [(ngModel)]="emergenciaObstetrica.inmunizaciones_eme">
        </div>
        <div class="input-container-inline">
            <label for="pupilar">Descripción</label>
            <input type="text" id="descripcion_eme" placeholder="Descripción" name="descripcion_eme" [(ngModel)]="emergenciaObstetrica.descripcion_eme">
        </div>
    </fieldset>

    <div class="form-footer">
        <button class="btn btn-success " role="button">Guardar</button>
        <button type="button" name="button" class="btn btn-danger " (click)="cancelar()">Cancelar</button>
    </div>
</form>
