
.form-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Alineación a la derecha */
}

.form-footer button {
  margin-left: 10px; /* Espacio entre los botones */
}
.btn-success {
  background-color: #28a745;
  border-radius: 10px;
}
.input-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.column {
  margin-bottom: 10px;
}

.column input,
.column select {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #E6E6E6;

}

.column input[type="date"] {
  /* Ajustes específicos para el tipo date */
  padding: 8px;
  font-size: 16px;
}

.column select:focus,
.column input:focus {
  outline: none;
  border-color: #007bff; /* Cambia el color al enfocar */
}

/* Estilos para los checkboxes */
.antecedentes-container {
  margin-top: 8px;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}


