<div class="container">
  <h1>Ficha Médica de Pacientes</h1>
  <div>
    <button class="btn btn-rounded btn-success mx-2" type="button" [routerLink]="['/ficha-medica/form']">Registrar Paciente</button>
    <div class="input-container">
      <input type="text" id="cedula" placeholder="Cédula" [(ngModel)]="cedulaBusqueda">
      <input type="text" id="apellido" placeholder="Apellido" [(ngModel)]="apellidoBusqueda">
      <input type="text" id="rol" placeholder="rol" [(ngModel)]="profesionBusqueda">
      <button class="btn btn-rounded btn-primary mx-4" type="button" (click)="buscar()">Buscar</button>
      <button type="button" name="button" class="btn btn-secondary" (click)="recargarTabla()">Ver todo</button>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" *ngIf="fichaMedicaEncontrada.length > 0; else listaPacientes">
        <thead>
          <tr>
            <th>Id</th>
            <th>CI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Rol</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ficha of fichaMedicaEncontrada">
            <td>{{ ficha.paciente.idPac }}</td>
            <td>{{ ficha.paciente.cedulaPac }}</td>
            <td>{{ ficha.paciente.nombrePac }}</td>
            <td>{{ ficha.paciente.apellidoPac }}</td>
            <td>{{ ficha.paciente.profesionPac }}</td>
            <td>
              <button type="button" name="button" class="btn btn-primary mx-4" (click)="verDetalle(ficha)">Ver</button>
              <button type="button" name="button" class="btn btn-warning mx-4" [routerLink]="['/ficha-medica/form', ficha.idFic]">Editar</button>
              <button type="button" name="button" class="btn btn-danger mx-2">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #listaPacientes>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>CI</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Rol</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ficha of fichaMedica">
              <td>{{ ficha.paciente.idPac }}</td>
              <td>{{ ficha.paciente.cedulaPac }}</td>
              <td>{{ ficha.paciente.nombrePac }}</td>
              <td>{{ ficha.paciente.apellidoPac }}</td>
              <td>{{ ficha.paciente.profesionPac }}</td>
              <td>
                <button type="button" name="button" class="btn btn-primary mx-4" (click)="verDetalle(ficha)">Ver</button>
                <button type="button" name="button" class="btn btn-warning mx-4" [routerLink]="['/ficha-medica/form', ficha.idFic]">Editar</button>
                <button type="button" name="button" class="btn btn-danger mx-2">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
  </div>
</div>
