
<div class="container d-flex justify-content-center mt-3">
    <h2>Ingreso de Atención Medica</h2>
</div>

<form ngNativeValidate (ngSubmit)="create()">


    <div class="mx-4">
        <label for="motivo">Datos de Filiación</label>
    </div>
    
    <fieldset class ="container-datos form-grid mx-4">
        <div class="input-group">
            <input type="text" id="cedula" name="cedula" placeholder="Cédula" class="small-input" [(ngModel)]="cedulaBusqueda">
            <button type="button" class="btn btn-primary" (click)="buscar()">Search</button>
        </div>
        <div class="input-container">
            <input type="text" id="profesion" name="profesion" placeholder="profesion" disabled [value]="pacienteEncontrado?.profesionPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" disabled [value]="pacienteEncontrado?.nombrePac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="apellido" name="apellido" placeholder="Apellido" disabled [value]="pacienteEncontrado?.apellidoPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="carrera" name="carrera" placeholder="Carrera" disabled [value]="pacienteEncontrado?.carreraPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="direccion" name="direccion" placeholder="Dirección" disabled [value]="pacienteEncontrado?.direccionPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="barrio" name="barrio" placeholder="Barrio" disabled [value]="pacienteEncontrado?.barrioPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="parroquia" name="parroquia" placeholder="Parroquia" disabled [value]="pacienteEncontrado?.parroquiaPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="canton" name="canton" placeholder="Cantón" disabled [value]="pacienteEncontrado?.cantonPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="provincia" name="provincia" placeholder="Provincia" disabled [value]="pacienteEncontrado?.provinciaPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="telefono" name="telefono" placeholder="Teléfono" disabled [value]="pacienteEncontrado?.telefonoPac || ''">
        </div>
        <div class="input-container">
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" disabled [value]="pacienteEncontrado?.fechaNacimientoPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="lugar" name="lugar" placeholder="Lugar" disabled [value]="pacienteEncontrado?.lugarPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="pais" name="pais" placeholder="País" disabled [value]="pacienteEncontrado?.paisPac || ''">
        </div>
        <div class="input-container">
            <input type="number" id="edad" name="edad" placeholder="Edad" disabled>
        </div>
        <div class="input-container">
            <input type="text" id="genero" name="genero" placeholder="Género" disabled [value]="pacienteEncontrado?.generoPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="estado_civil" name="estado_civil" placeholder="Estado Civil" disabled [value]="pacienteEncontrado?.estadoCivilPac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="tipo_sangre" name="tipo_sangre" placeholder="Tipo de Sangre" disabled [value]="pacienteEncontrado?.tipoSangrePac || ''">
        </div>
        <div class="input-container">
            <input type="text" id="ciclo" name="ciclo" placeholder="Ciclo" disabled [value]="pacienteEncontrado?.cicloPac || ''">
        </div>
        
    </fieldset>

    <div class="mx-4 mt-4">
        <label for="motivo">Motivo Consulta:</label>
    </div>

    <fieldset class="textarea-container mx-4">
        <textarea id="motivAteo" name="motivoAte" placeholder="Escribe tus observaciones aquí..." rows="4"
            cols="50" [(ngModel)]="atencionMedica.motivoAte"></textarea>
    </fieldset>

    <div class="mx-4 mt-4">
        <label for="motivo">Antecedentes familiares y personales</label>
    </div>

    <fieldset class="textarea-container mx-4">
        <div class="table-responsive">
            <table class="table table-bordered table-striped ">
                <thead>
                    <tr >
                        <th>Alergias</th>
                        <th>Clinica</th>
                        <th>Ginecólogico</th>
                        <th>Traumatológico</th>
                        <th>Quirúcgico</th>
                        <th>Farmacológico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class = "center-table">                
                        <td>{{ fichaMedica?.antecedenteFamiliar?.alergiaAnt ? fichaMedica?.antecedenteFamiliar?.descripcionAlergiaAnt : 'NO APLICA' }}</td>
                        <td>{{ fichaMedica?.antecedenteFamiliar?.clinicoAnt ? fichaMedica?.antecedenteFamiliar?.descripcionClinicoAnt : 'NO APLICA' }}</td>
                        <td>{{ fichaMedica?.antecedenteFamiliar?.ginecologoAnt ? fichaMedica?.antecedenteFamiliar?.descripcionGinecologoAnt : 'NO APLICA' }}</td>
                        <td>{{ fichaMedica?.antecedenteFamiliar?.traumatologicoAnt ? fichaMedica?.antecedenteFamiliar?.descripcionTraumatologicoAnt : 'NO APLICA' }}</td>
                        <td>{{ fichaMedica?.antecedenteFamiliar?.quirurgicoAnt ? fichaMedica?.antecedenteFamiliar?.descripcionQuirurgicoAnt : 'NO APLICA' }}</td>
                        <td>{{ fichaMedica?.antecedenteFamiliar?.farmacologicoAnt ? fichaMedica?.antecedenteFamiliar?.descripcionFarmacologicoAnt : 'NO APLICA' }}</td>              
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>

    <div class="mx-4 mt-4">
        <label for="motivo">Enfermedad Actual</label>
    </div>

    <fieldset class="textarea-container mx-4">
        <textarea id="enfermedad" name="enfermedad" placeholder="Escribe tus observaciones aquí..." rows="4"
            cols="50" [(ngModel)]="atencionMedica.enfermedadActualAte"></textarea>
    </fieldset>

    <div class="mx-4 mt-4">
        <label for="signos">Signos Vitales</label>
    </div>

    <fieldset class="container-signos form-grid mx-4">
            <div class="input-container">
                <label for="pa" >PA:</label>
                <input type="text" id="pa" placeholder="PA:">
            </div>
            <div class="input-container">
                <label for="peso">PESO</label>
                <input type="text" id="peso" placeholder="PESO:">
            </div>
            <div class="input-container">
                <label for="talla">TALLA:</label>
                <input type="text" id="talla" placeholder="TALLA:">
            </div>
            <div class="input-container">
                <label for="imc">IMC:</label>
                <input type="text" id="imc" placeholder="IMC:">
            </div>
            <div class="input-container">
                <label for="fc">FC:</label>
                <input type="text" id="fc" placeholder="FC:">
            </div>
            <div class="input-container">
                <label for="fr">FR:</label>
                <input type="text" id="fr" placeholder="FR:">
            </div>
            <div class="input-container">
                <label for="t">T°:</label>
                <input type="text" id="t" placeholder="T°:">
            </div>
            <div class="input-container">
                <label for="sat">Sat.O2:</label>
                <input type="text" id="sat" placeholder="SAT.O2°:">
            </div>
            <div class="input-container">
                <label for="glasgow">GLASGOW</label>
            </div>
            <div class="input-container">
                <label for="ocular">OCULAR:</label>
                <input type="text" id="ocular" placeholder="OCULAR:">
            </div>
            <div class="input-container">
                <label for="verbal">VERBAL:</label>
                <input type="text" id="verbal" placeholder="VERBAL:">
            </div>
            <div class="input-container">
                <label for="motora">MOTORA:</label>
                <input type="text" id="motora" placeholder="MOTORA:">
            </div>
            <div class="input-container">
                <label for="total">TOTAL:</label>
                <input type="text" id="total" placeholder="TOTAL:" disabled>
            </div>
            <div class="input-container">
                <label for="capilar">LLEN.CAPILAR:</label>
                <input type="text" id="capilar" placeholder="LLEN. CAPILAR:">
            </div>
            <div class="input-container">
                <label for="pupilar">R.PUPILAR:</label>
                <input type="text" id="pupilar" placeholder="R.PUPILAR:">
            </div>
    </fieldset>

    <div class="mx-4 mt-4">
        <label for="signos">Emergencias Obstetricas</label>
    </div>

    <fieldset class="container-emergencia-obstetrica form-grid mx-4">
            <div class="input-container-inline">
                <label for="pa" >Menarca:</label>
                <input type="number" id="menarca_eme" placeholder="Menarca">
            </div>
            <div class="input-container-inline">
                <label for="ritmo_mestrual_eme">Ritmo mestrual:</label>
                <input type="text" id="ritmo_mestrual_eme" placeholder="Ritmo mestrual">
            </div>
            <div class="input-container-inline">
                <label for="talla">Ciclos</label>
                <input type="number" id="ciclos_eme" placeholder="ciclos">
            </div>
            <div class="input-container-inline">
                <label for="imc">FUM:</label>
                <input type="date" id="fum_eme" placeholder="FUM">
            </div>
            <div class="input-container-inline">
                <label for="ivsa_eme">IVSA:     </label>
                <input type="number" id="ivsa_eme" placeholder="IVSA">
            </div>
            <div class="input-container-inline">
                <label for="numero_parejas_sexuales">N° de parejas sexuales:</label>
                <input type="text" id="numero_parejas_sexuales" placeholder="">
            </div>
            <div class="input-container-multiple-inline">
                <label for="g_eme">G:</label>
                <input type="number" id="g_eme" placeholder="---">
                
                <label for="a_eme">A:</label>
                <input type="text" id="a_eme" placeholder="---">
                
                <label for="p_eme">P:</label>
                <input type="text" id="p_eme" placeholder="---">
                
                <label for="c_eme">C:</label>
                <input type="text" id="c_eme" placeholder="---">
            </div>
            <div class="input-container-inline">
                <div class="input-container-inline">
                    <label for="">Dismenorrea</label>
                    <input type="checkbox" id="ritmo_mestrual_eme" placeholder="Ritmo mestrual">
                    
                </div>  
                <div class="input-container-inline">
                    <label for="">Mastodinia </label>
                    <input type="checkbox" id="ritmo_mestrual_eme" placeholder="Ritmo mestrual">
                </div> 
            </div>
            <div class="input-container-inline">
                <label for="fpp_eme">¿Esta embarazada?</label>
                <input type="checkbox" id="fpp_eme" placeholder="FPP">
            </div>
            <div class="input-container-inline">
                <label for="fpp_eme">FPP:</label>
                <input type="date" id="fpp_eme" placeholder="FPP">
            </div>
            <div class="input-container-inline">
                <label for="total">Controles</label>
                <input type="text" id="controles_eme" placeholder="Controles">
            </div>
            <div class="input-container-inline">
                <label for="capilar">Inmunizaciones</label>
                <input type="text" id="Inmunizaciones_eme" placeholder="Inmunizaciones">
            </div>
            <div class="input-container-inline">
                <label for="pupilar">Descripción</label>
                <input type="text" id="descripcion_eme" placeholder="Descripción">
            </div>
    </fieldset>

    <div class="mx-4 mt-4">
        <label for="examenfisico">Exámen Físico</label>
    </div>

    <fieldset class="container-fisico form-grid-fisico mx-4">
        <div class="form-row">
            <label for="piel">PIEL Y FANERAS</label>
            <input type="text" id="piel" placeholder="Escribe aquí...">
        </div>
        <div class="form-row">
            <label for="cabeza">CABEZA</label>
            <input type="text" id="cabeza" placeholder="Escribe aquí...">
        </div>
        <div class="form-row">
            <label for="cuello">CUELLO</label>
            <input type="text" id="cuello" placeholder="Escribe aquí...">
        </div>
        <div class="form-row">
            <label for="torax">TÓRAX</label>
            <input type="text" id="torax" placeholder="Escribe aquí...">
        </div>
        <div class="form-row">
            <label for="corazon">CORAZÓN</label>
            <input type="text" id="corazon" placeholder="Escribe aquí...">
        </div>
        <div class="form-row">
            <label for="abdomen">ABDOMEN</label>
            <input type="text" id="abdomen" placeholder="Escribe aquí...">
        </div>
        <div class="form-row">
            <label for="inguinal">R. INGUINAL</label>
            <input type="text" id="inguinal" placeholder="Escribe aquí...">
        </div>
        <div class="form-row">
            <label for="superiores">M.SUPERIORES</label>
            <input type="text" id="superiores" placeholder="Escribe aquí...">
        </div>
        <div class="form-row">
            <label for="inferiores">M.INFERIORES</label>
            <input type="text" id="inferiores" placeholder="Escribe aquí...">
        </div>
    </fieldset>

    <div class="mx-4 mt-4">
        <label for="examenes">Exámenes Complementarios</label>
    </div>

    <fieldset class="diagnostico-container mx-4">
        <table class="diagnostico-table">
            <thead>
                <tr>
                    <th class="w-75" style="background-color:#63e77b;">Descripción</th>
                    <th style="background-color:#63e77b;">Aplicable</th>
                    <th style="background-color:#63e77b;">Documentos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of atencionMedica.examenescomplementarios; let i = index">
                 
                    <td>
                        <textarea id="diagnostico{{i}}" name="diagnostico{{i}}" placeholder="Ingrese el diagnóstico"></textarea>
                    </td>
                    <td>
                        <input type="radio" id="presuntivo{{i}}" name="diagnostico{{i}}" [value]="false">
                    </td>
                    <td>
                        <input type="file" name="diagnostico{{i}}" id="">
                    </td>
                  </tr>
            </tbody>
        </table>
        <button (click)="addExamenComplementario()" class="botonCrearFila">Agregar examen complementario</button>

    </fieldset>

    <div class="mx-4">
        <label for="diagnostico">Diagnóstico:</label>
    </div>

    <div class="diagnostico-container">
        <table class="diagnostico-table">
        <thead>
            <tr>
            <th class="w-50">DIAGNÓSTICO INICIAL</th>
            <th class="w-25">Enfermedad</th>
            <th>CIE-10</th>
            <th>Presuntivo</th>
            <th>Definitivo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of atencionMedica.diagnosticos; let i = index">
                <td class="w-50">
                  <textarea id="diagnostico{{i}}" name="diagnostico{{i}}" placeholder="Ingrese el diagnóstico"></textarea>
                </td>
                <td class="w-25">
                  <input type="text" id="search{{i}}" placeholder="Escribe para buscar" class="input-search" name="search{{i}}">
                </td>
                <td>
                  
                </td>
                <td>
                  <input type="radio" id="presuntivo{{i}}" name="diagnostico{{i}}" [value]="false">
                </td>
                <td>
                  <input type="radio" id="definitivo{{i}}" name="diagnostico{{i}}" [value]="true">
                </td>
              </tr>
        </tbody>
        </table>
        <button (click)="addDiagnostico()" class="botonCrearFila">Agregar Diagnostico</button>
    </div>

    <div class="textarea-container mx-4">
        <label for="tratamiento">Tratamiento</label>
        <textarea id="tratamiento" name="tratamiento" placeholder="Escribe tus observaciones aquí..." rows="4"
            cols="50" [(ngModel)]="atencionMedica.tratamientoAte"></textarea>
    </div>

    <div class="form-footer">
        <button class="btn btn-success " role="button">Guardar</button>
        <button type="button" name="button" class="btn btn-danger " (click)="cancelar()">Cancelar</button>
    </div>

</form>