.container-datos {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }

  .container-signos {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  .container-fisico {

    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  h2 {
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .form-grid-signos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }
  
    .input-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
  label {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 0.9rem;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-style: normal ;
  }
  
  button {
    padding: 5px 15px;
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .small-input {
    width: 150px; /* Ajusta el tamaño del input según tus necesidades */
    margin-right: 10px; /* Espacio entre el input y el botón */
  }
  
 /* Estilo para el contenedor del textarea */
.textarea-container {
  margin-bottom: 20px; /* Separación inferior entre textarea-container y otros elementos */
}

/* Estilo para el textarea */
.textarea-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Permite cambiar el tamaño verticalmente */
}

.form-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Alineación a la derecha */
}

.form-footer button {
  margin-left: 10px; /* Espacio entre los botones */
}

.table-responsive {
  max-height: 400px; /* Ajusta esta altura según tus necesidades */
  overflow-y: auto; /* Habilita el scroll vertical */
  overflow-x: auto; /* Habilita el scroll horizontal si es necesario */
}



.form-flex-fisico {
  display: flex;
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre las filas de labels */
  flex: 1; /* Toma el espacio necesario */
}

.form-grid-fisico {
  display: grid;
  grid-template-columns: 1fr 3fr; /* La columna de labels y la de inputs */
  gap: 10px;
}

.form-row {
  display: contents; /* Hace que los elementos internos se alineen en la cuadrícula sin agregar un nuevo contenedor de fila */
}

label {
  justify-self: start; /* Alinea el label a la izquierda */
}
/* Estilo del botón de búsqueda */
.btn-primary {
  background-color: #007bff;
  color: white;
}

/* Estilo del botón de guardar */
.btn-success {
  background-color: #28a745;
  color: white;
  border-radius: 5px;
}

/* Estilo del botón de cancelar */
.btn-danger {
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
}
/* Estilo del botón de cancelar */
.btn-warning {
  background-color: #EDBA0A;
  color: rgb(5, 5, 5);
  border-radius: 5px;
}


.upload-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input[type="file"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* estilos diagnostico */
.diagnostico-container {
  margin: 20px;
}

.diagnostico-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.diagnostico-table th {
  background-color: #FFD700; /* Color de fondo amarillo */
  text-align: center;
  padding: 10px;
  border: 1px solid #000; /* Borde negro */
}

.diagnostico-table td {
  border: 1px solid #000; /* Borde negro */
  padding: 0;
  margin: 0;
  vertical-align:auto;
}

.diagnostico-table textarea {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  background-color: #fff;
}

.diagnostico-table input[type="checkbox"] {
  display: block;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.large {
  flex: 2; /* Más grande */
}

.small {
  flex: 1; /* Más pequeño */
}

.botonCrearFila {
  width: 100%;
}
  
.input-search {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  border: 1px solid #ccc; /* Solo para visualizar el contenedor */  
}


.container-emergencia-obstetrica {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.input-container-inline {
  display: grid;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input-container-inline label {
  grid-column: 1 / 2;
}

.input-container-inline input {
    grid-column: 2 / 3;
    border: none;
    border-bottom: 2px solid #000; /* Línea inferior */
    outline: none;
    padding: 5px 0;
    width: 100%; /* Asegura que el input ocupe todo el espacio de la columna */
    background-color: #fff;
    border-radius: 0;
}

.input-container-inline input:focus {
    border-bottom-color: #007BFF; /* Cambia el color de la línea al enfocar */
}

.input-container-multiple-inline {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto 1fr auto 1fr; /* Ajusta la cantidad de columnas */
  gap: 10px; /* Ajusta el espacio entre los elementos según sea necesario */
  align-items: center;
}

.input-container-multiple-inline label {
  justify-self: end; /* Alinea el label al final de su columna */
  padding-right: 5px; /* Espacio entre el label y el input */
}

.input-container-multiple-inline input {
  border: none;
  border-bottom: 2px solid #000; /* Línea inferior */
  outline: none;
  padding: 5px 0;
  border-radius: 0; /* Quita el borde redondeado */
}

.input-container-multiple-inline input:focus {
  border-bottom-color: #007BFF; /* Cambia el color de la línea al enfocar */
}


.center-table th td{
  text-align: center;
  vertical-align: middle;
}