<div class="container">
  <h1>Atenciones Medicas</h1>
  <div>
    <button class="btn btn-rounded btn-success mx-2"type="button"[routerLink]="['/atencion-medica/form-atencion-medica']">Agregar</button>
    <div class="input-container">
      <input type="text" id="cedula"placeholder="Cedula">
      <input type="date" id="fecha"placeholder="Fecha de la atención">
     <button class="btn btn-rounded btn-primary mx-4"type="button">Buscar</button>
     <div>

      <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>CI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Carrera</th>
            <th>Fecha Atención</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let atencionMedica of atencionesMedicas">
            <td>{{atencionMedica.idAte}}</td>  
            <td>{{atencionMedica.fichaMedica.paciente.cedulaPac}}</td> 
            <td>{{atencionMedica.fichaMedica.paciente.nombrePac}}</td>
            <td>{{atencionMedica.fichaMedica.paciente.apellidoPac}}</td>
            <td>{{atencionMedica.fichaMedica.paciente.carreraPac}}</td>
            <td>{{atencionMedica.fechaAtencionAte}}</td>

            <td>
              <button type="button" name="button" class="btn btn-primary mx-4" (click)="verDetalles(atencionMedica)">Ver</button>
              <button type="button" name="button" class="btn btn-warning mx-2">Editar</button>
              <button type="button" name="button" class="btn btn-danger mx-2">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
     </div>
    </div>
  </div>
</div>