<div class="container">
  <div class="medical-form">
    <h1>Registrar referencia médica</h1>
    <form ngNativeValidate (ngSubmit)="create()" #referenciaForm="ngForm">
      <div class="form-row">
        <div class="form-group">
          <label for="institucion_ref">NOMBRE DE LA INSTITUCIÓN</label>
          <input type="text" id="institucion_ref" name="institucion_ref" [(ngModel)]="referencia.institucionRef" required>
        </div>
        <div class="form-group">
          <label for="cedula_ref">CÉDULA</label>
          <input type="text" id="cedula_ref" name="cedula_ref" [(ngModel)]="referencia.fichaMedica.paciente.cedulaPac">
        </div>
        <div class="form-group">
          <label for="servicio_ref">SERVICIO</label>
          <input type="text" id="servicio_ref" name="servicio_ref" [(ngModel)]="referencia.servicioRef" required>
        </div>
      </div>
      
      <h2>SE REFIERE O DERIVA A:</h2>
      <table>
        <tbody>
          <tr>
            <td>
              <div class="form-group">
                <label for="entidad_sistema_ref">ENTIDAD DEL SISTEMA</label>
                <input type="text" id="entidad_sistema_ref" name="entidad_sistema_ref" [(ngModel)]="referencia.entidadSistemaRef" required>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="establecimiento_ref">ESTABLECIMIENTO DE SALUD</label>
                <input type="text" id="establecimiento_ref" name="establecimiento_ref" [(ngModel)]="referencia.establecimientoRef" required>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="servicio_ref_deriva">SERVICIO</label>
                <input type="text" id="servicio_ref_deriva" name="servicio_ref_deriva" [(ngModel)]="referencia.servicioRef" required>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="especialidad_ref">ESPECIALIDAD</label>
                <input type="text" id="especialidad_ref" name="especialidad_ref" [(ngModel)]="referencia.especialidadRef" required>
              </div>
            </td>
            <td>
              <div class="form-group">
                <label for="fecha_ref">FECHA</label>
                <input type="date" id="fecha_ref" name="fecha_ref" [(ngModel)]="referencia.fechaRef" required>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      
      
      <table>
        <tbody>
          <tr>
            <h2>MOTIVO DE REFERENCIA:</h2>
            <td><input type="checkbox" id="motivo_referencia_ref_limitada" name="motivo_referencia_ref_limitada" [(ngModel)]="referencia.motivoRef" [value]="'LIMITADA CAPACIDAD RESOLUTIVA'"></td>
            <td><label for="motivo_referencia_ref_limitada" class="checkbox-label">LIMITADA CAPACIDAD RESOLUTIVA</label></td>
            <td><input type="checkbox" id="motivo_referencia_ref_falta" name="motivo_referencia_ref_falta" [(ngModel)]="referencia.motivoRef" [value]="'FALTA DE PROFESIONAL'"></td>
            <td><label for="motivo_referencia_ref_falta" class="checkbox-label">FALTA DE PROFESIONAL</label></td>
            <td><input type="checkbox" id="motivo_referencia_ref_otros" name="motivo_referencia_ref_otros" [(ngModel)]="referencia.motivoRef" [value]="'OTROS'"></td>
            <td><label for="motivo_referencia_ref_otros" class="checkbox-label">OTROS</label></td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <h2><label for="resumen_ref">RESUMEN DEL CUADRO CLÍNICO</label></h2>
        <textarea id="resumen_ref" name="resumen_ref" [(ngModel)]="referencia.resumenRef" rows="3" required></textarea>
      </div>
      <div class="form-group">
        <h2><label for="hallazgos_ref">HALLAZGOS RELEVANTES</label></h2>
        <textarea id="hallazgos_ref" name="hallazgos_ref" [(ngModel)]="referencia.hallazgosRef" rows="3" required></textarea>
      </div>

      <table>
        <thead>
          <tr>
            <th>DIAGNÓSTICO</th>
            <th>CIE 10</th>
            <th>PRESUNTIVO</th>
            <th>DEFINITIVO</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let diag of referencia.diagnosticos; let i = index">
            <td>
              <input type="text" [(ngModel)]="diag.inicial_dia" name="nombre_dia_{{i}}" required>
            </td>
            <td>
              <select [(ngModel)]="diag.inicial_dia" name="cie10_{{i}}">
                <option *ngFor="let enf of enfermedades" [value]="enf.codigoEnf">{{ enf.codigoEnf }}</option>
              </select>
            </td>
            <td>
              <input type="radio" [(ngModel)]="diag.estado_dia" [value]="'presuntivo'" name="tipo_{{i}}">
            </td>
            <td>
              <input type="radio" [(ngModel)]="diag.estado_dia" [value]="'definitivo'" name="tipo_{{i}}">
            </td>
            <td>
              <button type="button" (click)="eliminarDiagnostico(i)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" (click)="addDiagnostico()">Agregar Diagnóstico</button>
      

      <div class="form-row">
        <div class="form-group">
          <label for="nombre_profesional">NOMBRE DEL PROFESIONAL</label>
          <input type="text" id="nombre_profesional" name="nombre_profesional">
        </div>
        <div class="form-group">
          <label for="codigo_msp">CÓDIGO MSP</label>
          <input type="text" id="codigo_msp" name="codigo_msp">
        </div>
      </div>
      <div class="form-group">
        <div class="button-container">
          <button class="btn btn-success " role="button">Guardar</button>
          <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
