<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <ng-container *ngFor="let card of cards | async">
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <ng-container [ngSwitch]="card.type">
              <ng-template ngSwitchCase="visits">
                <div class="container">
                  <h1>Pacientes Totales: 104</h1>
                  <div class="card-container">
                    <div class="card">
                      <p>Pacientes Alumnos:</p>
                      <p>64</p>
                      <div class="percentage up">51% &#8593;</div>
                    </div>
                    <div class="card">
                      <p>Pacientes Profesores:</p>
                      <p>40</p>
                      <div class="percentage down">20% &#8595;</div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template ngSwitchCase="diseases">
                <div class="container">
                  <h1>Distribución de Enfermedades</h1>
                  <canvas baseChart
                          [data]="pieChartData"
                          [type]="pieChartType"
                          [options]="pieChartOptions">
                  </canvas>
                </div>
              </ng-template>
              <ng-template ngSwitchDefault>
                <div>No content available</div>
              </ng-template>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>

