<div class="container">
  <h1>Lista de Doctores</h1>
  <div>
    <button class="btn btn-rounded btn-success mx-2" type="button"[routerLink]="['/doctor/formDoc']">Registrar doctor</button>
    <div class="input-container">
      <input type="text" id="cedula"placeholder="Cedula">
      <button type="button" name="button" class="btn btn-primary mx-4" (click)="buscar()">Buscar</button>
      <div>

        <div class="table-responsive"> 
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>CI</th>
              <th>Cod MSP</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Especialidad</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctor of doctores">
              <td>{{doctor.idDoctor}}</td>
              <td>{{doctor.cedulaDoc}}</td>
              <td>{{doctor.codigoMspDoc}}</td>
              <td>{{doctor.nombreDoc}}</td>
              <td>{{doctor.apellidoDoc}}</td>
              <td>{{doctor.especialidadDoc}}</td>
              <td>
                <button type="button" name="button" class="btn btn-primary mx-4"(click)="verDetalles(doctor)">Ver</button>
                <button type="button" name="button" class="btn btn-warning mx-4"[routerLink]="['/doctor/formDoc',doctor.id_doctor]">Editar</button>
                <button type="button" name="button" class="btn btn-danger mx-2" (click)="deleteDoctor(doctor.id_doctor)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>