<div class="container">
    <h1>Registrar Doctor</h1>
</div>
<form ngNativeValidate (ngSubmit)="create()">
    <div class="input-container mx-4">
        <div class="column">
            <label for="cedula">Cedula</label>
            <input type="text" id="cedula" placeholder="Cedula"[(ngModel)]="doctor.cedulaDoc" name="doctor" [disabled]="editMode" required>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Nombre"[(ngModel)]="doctor.nombreDoc" name="nombre" required>
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" placeholder="Apellido"[(ngModel)]="doctor.apellidoDoc" name="apellido" required>
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" placeholder="Telefono"[(ngModel)]="doctor.telefonoDoc"name="telefono"required>
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" placeholder="Contraseña"[(ngModel)]="doctor.passwordDoc" name="contraseña"required>
        </div>
        <div class="column">
            <label for="direccion">Direccion</label>
            <input type="text" id="direccion"placeholder="Direccion"[(ngModel)]="doctor.direccionDoc"name="direccion"required>
            <label for="genero">Genero</label>
            <select name="genero" id="genero"[(ngModel)]="doctor.generoDoc" name="genero" required>
                <option value="seleccione">Seleccione</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
            </select>
            <label for="especialidad">Especialidad</label>
            <input type="text" id="especialidad" placeholder="Especialidad" [(ngModel)]="doctor.especialidadDoc" name="especialidad" required>
            <label for="codiMSP">Codigo MSP</label>
            <input type="text" id="codiMSP" placeholder="Codigo MSP" [(ngModel)]="doctor.codigoMspDoc" name="codiMSP" required>
        </div>
    </div>
    <div class="form-footer">
        <button role="button" class="btn btn-success ">Guardar</button>
        <button type="button" name="button" class="btn btn-danger " (click)="cancelar()">Cancelar</button>
    </div>
</form>