<div class="container">
    <h1>Registrar Doctor</h1>
</div>
<form>
    <div class="input-container mx-4">
        <div class="column">
            <label for="cedula">Cedula</label>
            <input type="text" id="cedula" placeholder="Cedula">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Nombre">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" placeholder="Apellido">
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" placeholder="Telefono">
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" placeholder="Contraseña">
        </div>
        <div class="column">
            <label for="direccion">Direccion</label>
            <input type="text" id="direccion"placeholder="Direccion">
            <label for="genero">Genero</label>
            <select name="genero" id="genero">
                <option value="seleccione">Seleccione</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
            </select>
            <label for="especialidad">Especialidad</label>
            <input type="text" id="especialidad" placeholder="Especialidad">
            <label for="codiMSP">Codigo MSP</label>
            <input type="text" id="codiMSP" placeholder="Codigo MSP">
        </div>
    </div>
    <div class="form-footer">
        <button type="button" name="button" class="btn btn-success ">Guardar</button>
        <button type="button" name="button" class="btn btn-danger " (click)="cancelar()">Cancelar</button>
    </div>
</form>