input{
    width: 190px;
    height: 40px;
    padding: 15px;
    margin: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    background: rgba(217, 217, 217, 1);
  }

  .thead {
    background: #a3c2f1;

  }

  .form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

  option{
    width: 225px;
    height: 40px;
    padding: 15px;
    margin: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    background: rgba(217, 217, 217, 1);
  }

  .btn {
    margin-right: 10px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #223E9E;
}

.op01 {
    margin-right: 10px;
    border: 1px solid #ccc;
    width: 165px;
    height: 40px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background: rgba(217, 217, 217, 1);
}

.btn-ver {
    background-color: #223E9E;
}

.nombre-col {
    color: #b0bd03;
}

.container {
    width: 100%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  button {
    margin-right: 5px;
  }
  .table-responsive {
    max-height: 700px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto; /* Habilita el scroll vertical */
    overflow-x: auto; /* Habilita el scroll horizontal si es necesario */
  }
  .scroll-container {
    height: 100vh; /* Ocupa el 100% de la altura del viewport */
    width: 100vw;  /* Ocupa el 100% del ancho del viewport */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    overflow-x: auto; /* Habilita el desplazamiento horizontal si es necesario */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
    padding: 10px; /* Opcional: Añadir un relleno interno */
    border: 1px solid #ccc; /* Opcional: Añadir un borde para visualizar mejor el contenedor */
  } 