<div class="container">
  <select class="op01" name="carrera" id="carrera" name="carrera" placeholder="carrera" [(ngModel)]="carreraBusqueda">
    <option value="" disabled selected>Carrera</option>
    <option value="Desarrollo de Software">Desarrollo de software</option>
    <option value="Tecnología Superior en Big Data">Big Data</option>
    <option value="Ciberseguridad">Ciberseguridad</option>
    <option value="Entrenamiento Deportivo">Entrenamiento Deportivo</option>
    <option value="Tributación">Tributacion</option>
  </select>
  <select class="op01" name="paciente" id="paciente" [(ngModel)]="profesionBusqueda" name="paciente" placeholder="paciente">
    <option value="" disabled selected>Paciente</option>
    <option value="Estudiante">Estudiante</option>
    <option value="Profesor">Profesor</option>
  </select>
  <select class="op01" name="genero" id="genero" [(ngModel)]="generoBusqueda" name="genero">
    <option value="" disabled selected>Genero</option>
    <option value="M">Masculino</option>
    <option value="F">Femenino</option>
  </select>

  <input class="op01" type="date" name="fecha" id="fecha" placeholder="Seleccione" name="fecha" [(ngModel)]="fechaBusqueda">

  <input type="text" id="cedula" [(ngModel)]="cedulaBusqueda" placeholder="Cedula">
  <button class="btn btn-ver" (click)="buscar()">Buscar</button>
  <button class="btn btn-ver" (click)="Imprimir()">Imprimir</button>
  <button type="button" name="button" class="btn btn-secondary"(click)="refrescar()">Ver todo</button>

           
  <div class="table-responsive"> 

    <table *ngIf="pacEncontrado; else listaPacientes">
      <thead class="thead">
        <tr>
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Motivo</th>
          <th>Fecha De Nacimiento</th>
          <th>Carrera</th>
          <th>Fecha de visita</th>
          <th>Receta</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let atencion of atenciones">
          <td class="nombre-col">{{ atencion.fichaMedica.paciente.nombrePac}}</td>
          <td>{{ atencion.fichaMedica.paciente.cedulaPac }}</td>
          <td>{{ atencion.motivoAte }}</td>
          <td>{{ atencion.fichaMedica.paciente.fechaNacimientoPac }}</td>
          <td>{{ atencion.fichaMedica.paciente.carreraPac }}</td>
          <td>{{ atencion.fechaAtencionAte }}</td>
          <td>{{ atencion.tratamientoAte }}</td>
          </tr>
      </tbody>
    </table>

    <ng-template #listaPacientes>
      <table>
        <thead class="thead">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Motivo</th>
                <th>Fecha De Nacimiento</th>
                <th>Carrera</th>
                <th>Fecha de visita</th>
                <th>Receta</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let atencion of atenciones; let i = index">
            <td>{{ i + 1 }}</td>
            <td class="nombre-col">{{ atencion?.fichaMedica?.paciente?.nombrePac}}</td>
            <td>{{ atencion?.fichaMedica?.paciente?.cedulaPac}}</td>
            <td>{{ atencion?.motivoAte}}</td>
            <td>{{ atencion?.fichaMedica?.paciente?.fechaNacimientoPac}}</td>
            <td>{{ atencion?.fichaMedica?.paciente?.carreraPac}}</td>
            <td>{{ atencion?.fechaAtencionAte}}</td>
            <td>{{ atencion?.tratamientoAte}}</td>
          </tr>
        </tbody>
    </table>
    
    </ng-template>


  </div>

  <div class="text-right">
    <p>N° TOTAL: {{ atenciones.length }} </p>
  </div>
</div>