<div class="container">
    <h2 class="text-center">LISTADO DE REFERENCIAS MÉDICAS</h2>
    
    <div class="d-flex justify-content-between align-items-center mb-3">
      <button class="btn btn-rounded btn-success mx-2" type="button" [routerLink]="['/form-ref-medica']">Nuevo Registro</button>
      
      <div>
        <label for="fecha_ref">Fecha:</label>
        <input type="date" id="fecha_ref" readonly>
        <button class="btn btn-primary">Consultar</button>
      </div>
    </div>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>ENTIDAD DEL SISTEMA</th>
          <th>FECHA</th>
          <th>ACCIÓN</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let referencia of referencias">
          <td>{{ referencia.idRef }}</td>
          <td>{{ referencia.entidadSistemaRef }}</td>
          <td>{{ referencia.fechaRef }}</td>
          <td>
            <button type="button" name="button" class="btn btn-primary mx-4" (click)="verDetalles(referencia)">Ver</button>
            <button type="button" name="button" class="btn btn-warning mx-4" [routerLink]="['/form-ref-medica', referencia.idRef]">Editar</button>
            <button type="button" name="button" class="btn btn-danger mx-2" (click)="deleteReferencia(referencia.idRef)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="text-right">
      <p>N° TOTAL DE REGISTROS: <span>{{ referencias.length }}</span></p>
    </div>
  </div>
  