/* Margen general para el contenido dentro del contenedor */
.container > * {
    margin-left: 10px;
    margin-right: 10px;
}
.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.mb-3 {
    margin-bottom: 5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: auto;
}

.btn {
    margin-right: 10px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.btn-success {
    background-color: 038C7F;
}

.btn-primary {
    background-color: #223E9E;
    max-width: min-content;
    margin-right: auto;
}

.btn-info {
    background-color: #223E9E;
}

.btn-warning {
    background-color: #EDBA0A;
    color: black;
}

.btn-danger {
    background-color: #FF4C4C;
}

.text-right {
    text-align: right;
    margin-right: 10px;
}

input[type="text"] {
    border: none;
    background-color: #f1f1f1;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}
